{# empty Twig template #}

{% set post = values.posts.articulos %}

<div id="destacadosMagazine">
    <div class="contenido_interior">
        <h3 class="row h2magazine">
            <strong>Fórmula Capital Magazine</strong>
        </h3>
        <div class="row">
            <div class="columna col1 span4 elems1">
                <section class="last_in_column">
                    <img src="{{app.path}}{{theme}}/{{post[0].imagen}}" alt="{{post[0].titulo}}" title="{{post[0].titulo}}">
                    <h3>
                        <a href="{{app.url}}{{post[0].url.url}}" title="{{post[0].titulo}}" alt="{{post[0].titulo}}">{{post[0].titulo}}</a>
                    </h3>
                    <p>{{macro.recortaTexto(post[0].desarrollo,200)}}</p>
                </section>
            </div>
            <div class="columna col2 span4 elems2">
                <section class="">
                    <img src="{{app.path}}{{theme}}/{{post[1].imagen}}" alt="{{post[1].titulo}}" title="{{post[1].titulo}}">
                    <h3>
                        <a href="{{app.url}}{{post[1].url.url}}" title="{{post[1].titulo}}" alt="{{post[1].titulo}}">{{post[1].titulo}}</a>
                    </h3>
                    <p>{{macro.recortaTexto(post[1].desarrollo,200)}}</p>                    
                </section>
                <section class="last_in_column">
                    <img src="{{app.path}}{{theme}}/{{post[2].imagen}}" alt="{{post[2].titulo}}" title="{{post[2].titulo}}">
                    <h3>
                        <a href="{{app.url}}{{post[2].url.url}}" title="{{post[2].titulo}}" alt="{{post[2].titulo}}">{{post[2].titulo}}</a>
                    </h3>
                    <p>{{macro.recortaTexto(post[2].desarrollo,200)}}</p>                      
                </section>
            </div>
            <div class="columna col3 span4 elems2">
                <section class="">
                    <img src="{{app.path}}{{theme}}/{{post[3].imagen}}" alt="{{post[3].titulo}}" title="{{post[3].titulo}}">
                    <h3>
                        <a href="{{app.url}}{{post[3].url.url}}" title="{{post[3].titulo}}" alt="{{post[3].titulo}}">{{post[3].titulo}}</a>
                    </h3>
                    <p>{{macro.recortaTexto(post[3].desarrollo,200)}}</p>                    
                </section>
                <section class="last_in_column">
                    <img src="{{app.path}}{{theme}}/{{post[4].imagen}}" alt="{{post[4].titulo}}" title="{{post[4].titulo}}">
                    <h3>
                        <a href="{{app.url}}{{post[4].url.url}}" title="{{post[4].titulo}}" alt="{{post[4].titulo}}">{{post[4].titulo}}</a>
                    </h3>
                    <p>{{macro.recortaTexto(post[4].desarrollo,200)}}</p>                      
                </section>
            </div>
        </div>
        <a class="ver_mas" href="{{app.path}}/consejos-financieros" title="Acceder al magazine">Acceder al magazine</a>
    </div>
</div>
