{# SLIDER DE LA HOME #}
<div id="ContenedorBanners" class="home">
    <div id="myCarouselBanners" class="carousel slide">
        <div class="indicator clearfix">
            <ol class="carousel-indicators" style="margin-right: -56px;">
                {% for item in values.slider %}
                <li data-target="#myCarouselBanners" data-slide-to="{{loop.index}}" class=" submenu" id="submenu_{{loop.index}}">
                    <div class="texto"><span class="texto2"></span></div>
                </li>
                {% endfor %}
                <!--
                <li data-target="#myCarouselBanners" data-slide-to="1" class=" submenu" id="submenu_1">
                    <div class="texto"><span class="texto2"></span></div>
                </li>
                <li data-target="#myCarouselBanners" data-slide-to="2" class=" submenu" id="submenu_2">
                    <div class="texto"><span class="texto2"></span></div>
                </li>
                <li data-target="#myCarouselBanners" data-slide-to="3" class=" submenu" id="submenu_3">
                    <div class="texto"><span class="texto2"></span></div>
                </li>
                <li data-target="#myCarouselBanners" data-slide-to="4" class=" submenu" id="submenu_4">
                    <div class="texto"><span class="texto2"></span></div>
                </li>
                <li data-target="#myCarouselBanners" data-slide-to="5" class=" submenu" id="submenu_5">
                    <div class="texto"><span class="texto2"></span></div>
                </li>
                <li data-target="#myCarouselBanners" data-slide-to="6" class=" submenu" id="submenu_6">
                    <div class="texto"><span class="texto2"></span></div>
                </li>
                <li data-target="#myCarouselBanners" data-slide-to="7" class=" submenu" id="submenu_7">
                    <div class="texto"><span class="texto2"></span></div>
                </li>
                <li data-target="#myCarouselBanners" data-slide-to="8" class=" submenu" id="submenu_8">
                    <div class="texto"><span class="texto2"></span></div>
                </li>
                -->
            </ol>
        </div>
        <!-- Carousel items -->
        <div class="carousel-inner">
            {% for item in values.slider %}
            <div class=" item" style="height: 433px;background: url('{{app.path}}/{{theme}}/{{item.imagen}}') no-repeat scroll center center transparent">
                <a class="enlace_banner clearfix"  >
                </a>
                <div class="pastilla">
                    <h3>{{item.titulo}}</h3>
                    <h4>{{item.subtitulo}}</h4>
                    {% if item.url.url %}
                    <a class="btn btn-amarillo" href="{{item.url.url}}" {% if item.url.targetBlank == '1' %}target="_blank"{% endif %}>Más info</a>
                    {% endif %}
                </div>
                <div class="textoBanner"></div>
            </div>
            {% endfor %}
            <!--
            <div class=" item" style="height: 433px;background: url('/resources/archivosbd/__banners/25b899df2ce892fe882a4a07096a9df2.jpg') no-repeat scroll center center transparent">
                <a class="enlace_banner clearfix"  >
                </a>
                <div class="pastilla">
                    <h3>Refinación<br>de Deudas</h3>
                    <h4>Reunifica tus deudas</h4>
                    <a class="btn btn-amarillo" href="/refinacion-de-deudas">Más info</a>
                </div>
                <div class="textoBanner"></div>
            </div>
            <div class=" item" style="height: 433px;background: url('/resources/archivosbd/__banners/26e782eb2181ae75033258b7faa3cbd8.jpg') no-repeat scroll center center transparent">
                <a class="enlace_banner clearfix"  >
                </a>
                <div class="pastilla">
                    <h3>Crédito<br>Express</h3>
                    <h4>hasta 5000€</h4>
                    <a class="btn btn-amarillo" href="/credito-personal">Más info</a>
                </div>
                <div class="textoBanner"></div>
            </div>
            <div class=" item" style="height: 433px;background: url('/resources/archivosbd/__banners/e287044568462a555e7333e53c11ab95.jpg') no-repeat scroll center center transparent">
                <a class="enlace_banner clearfix"  >
                </a>
                <div class="pastilla">
                    <h3>Mini- <br/>crédito</h3>
                    <h4>tu dinero en 24h</h4>
                    <a class="btn btn-amarillo" href="/minicreditos">Más info</a>
                </div>
                <div class="textoBanner"></div>
            </div>
            <div class=" item" style="height: 433px;background: url('/resources/archivosbd/__banners/b697b1bc034eb950d43e6cf3bfbde8e9.jpg') no-repeat scroll center center transparent">
                <a class="enlace_banner clearfix"  >
                </a>
                <div class="pastilla">
                    <h3>Cancelación<br>de subastas</h3>
                    <h4>y embargos</h4>
                    <a class="btn btn-amarillo" href="/stop-embargos">Más info</a>
                </div>
                <div class="textoBanner"></div>
            </div>
            <div class=" item" style="height: 433px;background: url('/resources/archivosbd/__banners/85309c9074d507a65f81e5b5e2b169fa.jpg') no-repeat scroll center center transparent">
                <a class="enlace_banner clearfix"  >
                </a>
                <div class="pastilla">
                    <h3>Dinero por<br>mi vehículo</h3>
                    <h4>Y sigue utilizándolo</h4>
                    <a class="btn btn-amarillo" href="/empeno-de-vehiculos">Más info</a>
                </div>
                <div class="textoBanner"></div>
            </div>
            <div class=" item" style="height: 433px;background: url('/resources/archivosbd/__banners/0010bfd79c7f9308833f4a76c6c1c123.jpg') no-repeat scroll center center transparent">
                <a class="enlace_banner clearfix"  >
                </a>
                <div class="pastilla">
                    <h3>Fórmula Factoring</h3>
                    <h4>y descuento de pagarés</h4>
                    <a class="btn btn-amarillo" href="/descuento-pagares">Más info</a>
                </div>
                <div class="textoBanner"></div>
            </div>
            <div class=" item" style="height: 433px;background: url('/resources/archivosbd/__banners/f3175876eda65ce5a69cde9d1f0a46d8.jpg') no-repeat scroll center center transparent">
                <a class="enlace_banner clearfix"  >
                </a>
                <div class="pastilla">
                    <h3>Fórmula Renting</h3>
                    <h4>Para pymes y autónomos</h4>
                    <a class="btn btn-amarillo" href="/formula-renting">Más info</a>
                </div>
                <div class="textoBanner"></div>
            </div>
            <div class=" item" style="height: 433px;background: url('/resources/archivosbd/__banners/4242e4802e620d430e5354ebf7c8c2fc.jpg') no-repeat scroll center center transparent">
                <a class="enlace_banner clearfix"  >
                </a>
                <div class="pastilla">
                    <h3>Crédito Comercio</h3>
                    <h4>Financia tus ventas</h4>
                    <a class="btn btn-amarillo" href="/financiar-ventas">Más info</a>
                </div>
                <div class="textoBanner"></div>
            </div>
        </div>
            -->
        <!-- Carousel nav -->
    </div>
</div>