{# SERVICIO DESARROLLADO #}
{% extends layout %}

{% set servicio = values.servicio.servicio %}
{% block contenido %}
    <div id="contenido">
        {% include '_global/ruta.html.twig' %}
        <div id="contenidoModuloBlanco" class="clearfix">
            <div class="contenido_interior row"> 
                <div class="span9 columna_izquierda_soluciones">
                    <h1 class="contenido_interior">{{servicio.Titulo}}</h1>

                    {% if (servicio.Resumen) %}
                        {% autoescape false %}{{servicio.Resumen}}{% endautoescape %}
                    {% endif %}

                    {% for key,video in values.servicio.videos %}
                        {% if (video.urlVideo != "") %}
                            <div class="videos_youtube">
                                <iframe width="{{contenido.videoYoutube.ancho}}" height="{{contenido.videoYoutube.alto}}" src="http://www.youtube.com/embed/{{contenido.videos[0].urlVideo}}" frameborder="{{contenido.videoYoutube.anchoBorde}}"></iframe>
                            </div>
                        {% endif %}
                    {% endfor %}

                </div>
                {% include '_global/solicitaInformacion.html.twig' %}                     
            </div>
        </div>
        {% include '_global/franjas.html.twig' %}    
    </div>
{% endblock %}