<script type="text/javascript" src="{{app.path}}/{{theme}}/js/jquery/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="{{app.path}}/{{theme}}/js/jquery/jquery-ui-1.10.3.js"></script>
<!--<script type="text/javascript" src="{{app.path}}/{{theme}}/js/jquery/jquery.validate.js"></script>-->
<script type="text/javascript" src="{{app.path}}/{{theme}}/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{{app.path}}/{{theme}}/js/prettyphoto/js/jquery.prettyPhoto.js"></script>
<script type="text/javascript" src="{{app.path}}/{{theme}}/js/template/common.js"></script>
<script type="text/javascript" src="{{app.path}}/{{theme}}/js/carousel/jquery.jcarousel.js"></script>

<script>

    var provPobZon ={{values.provPobZon|raw}}

    $(function () {
        // Actualizar poblaciones y zonas
        $('#provincia').change(function () {
            html = "<option value=''>Todas las poblaciones</option>";
            provincia = $('#provincia').val();

            if (provincia !== '') {
                $.each(provPobZon[provincia], function (key, value) {
                    html = html + "<option value=" + key + ">" + key + "</option>";
                });
            }
            $('#poblacion option').remove();
            $('#poblacion').append(html);
            $('#poblacion').change();
            
            $('#pagina').val('');

            // Resetear las zonas
            //$('#zona option').remove();
            //$('#zona').append("<option value=''>Todas las zonas</option>");

        });

        // Actualizar zonas
        $("#poblacion").change(function () {
            html = "<option value=''>Todas las zonas</option>";
            provincia = $('#provincia').val();
            poblacion = $('#poblacion').val();

            if (provincia !== '' && poblacion !== '') {
                $.each(provPobZon[provincia][poblacion], function (key, value) {
                    html = html + "<option value=" + key + ">" + key + "</option>";
                });
            }
            $('#zona option').remove();
            $('#zona').append(html);
            $('#pagina').val('');            
            <!--$('#zona').change();-->
        });
        
        $('#zona').change(function(){
            $('#pagina').val('');            
            <!--seleccion = $('#zona').val() + $('#poblacion').val() + $('#tipoOperacion').val() + $('#tipoInmueble').val();-->
            <!--alert(seleccion);-->
            <!--$('.rowL1').hide();-->           
            <!--$(".rowL1:contains('"+seleccion+"')").show();-->
        });
        
        $('#tipoOperacion').change(function(){
            $('#pagina').val('');            
            <!--$('#zona').change();-->
        });
        $('#tipoInmueble').change(function(){
            $('#pagina').val('');            
            <!--$('#zona').change();-->
        });
        $('#orden').change(function(){
            $('#pagina').val('');            
        });
        $('#situacion').change(function(){
            $('#pagina').val('');            
        });
    });
    
    function paginar(pagina) {
        $('#pagina').val(pagina);
        $('#formFiltro').submit();
    }
</script>