{% extends layout %}

{% block slider %}
    {% include '_global/bannerCabecera.html.twig' with {'imagen': values.contenido.getPathNameImagenN(1)} %}
{% endblock %}

{% block contenido %}
<div id="contenido">
    {% include '_global/ruta.html.twig' %}
    <div id="contenidoModuloBlanco" class="clearfix">
        <div class="contenido_interior row">    

            <div class="span9 columna_izquierda_por_que">
		<h1 class="contenido_interior"><strong>{{values.contenido.Titulo}}</strong></h1>						
                <div class="clearfix clearboth contenido_textos contenido_porque">
                    {% for item in values.inmuebles %}
                        <div class="row-fluid">
                            <div>
                                <img src="{{app.url}}/{{theme}}/{{item.rutagraf}}" width="172">
                            </div>
                            <div class="">
                                {% autoescape false %}
                                <h3>Referencia {{item.cod_elemento}}, {{item.des_tipoelem}}<h3>
                                <p>{{item.des_zona}} - {{item.des_poblacion}}</p>
                                <p>{{item.numhabitac}} Habitaciones, {{item.numbanios}} Baños</p>
                                {% if item.m2constr > 0 %}<p>{{item.m2constr}} M2 Construidos</p>{% endif %}
                                <p>{{item.Estado}}</p>
                                {% endautoescape%}
                            </div>
                            <div>
                                {{macro.moneda(item.precio)}}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div> 
            {% include '_global/cajaLocalizacion.html.twig' %}                
        </div> 
    </div>
    {% include '_global/franjas.html.twig' %}              
</div>	
{% endblock %}
