{# Ficha de detalle del inmueble #}
{% extends layout %}

{% block slider %}
    {% include '_global/bannerCabecera.html.twig' with {'imagen': values.contenido.getPathNameImagenN(1)} %}
{% endblock %}

{% block contenido %}
    {% set item = values.inmueble %}
    <div id="contenido">
        {% include '_global/ruta.html.twig' %}
        <div id="contenidoModuloBlanco" class="clearfix">
            <div class="contenido_interior row">    

                <div class="span12 columna_izquierda_por_que">
                    <h1 class="titulo-inmueble"><strong>Referencia {{item.cod_elemento}}, {{item.des_tipoelem}} - {{values.tiposOperacion[item.cod_destino]}} - {{item.des_poblacion}}</strong></h1>						
                    <div class="clearfix clearboth contenido_porque">
                        <div class="rowDeta">
                            <div class="deta-inmu-fotos">
                                <img id="imagenPrincipal" class="principal" src="{{app.url}}/{{theme}}/{{item.rutagraf}}"/>
                                {% for foto in item.getFotos %}
                                    <a href="javascript:;" class="slideimagenes" onclick="$('#imagenPrincipal').attr('src', '{{app.url}}/{{theme}}/{{foto.url}}');">
                                        <img class="thumbnail" src="{{app.url}}/{{theme}}/{{foto.url}}"/>
                                    </a>
                                {% endfor %}  
                                <a href="javascript:;" class="slideimagenes" onclick="$('#imagenPrincipal').attr('src', '{{app.url}}/{{theme}}/{{item.rutagraf}}');">
                                    <img class="thumbnail" src="{{app.url}}/{{theme}}/{{item.rutagraf}}"/>
                                </a>                                
                            </div>
                            <div class="deta-inmu-textos">
                                {% autoescape false %}
                                    <p>{{item.des_poblacion}} - {{item.des_zona}} - {{item.des_provincia}}</p>
                                    <p>{{item.numhabitac}} Habitaciones, {{item.numbanios}} Ba침os</p>
                                    {% if item.m2constr > 0 %}
                                        <p>{{item.m2constr}} M2 Construidos</p>
                                    {% endif %}
                                    {% if item.situacion %}
                                        <p>{{item.situacion}}</p>
                                    {% endif %}
                                    {% if item.des_vista %}
                                        <p>Vistas {{item.des_vista}}</p>
                                    {% endif %}
                                    {% if item.des_orientacion %}                                        
                                        <p>Orientaci칩n {{item.des_orientacion}}</p> 
                                    {% endif %}  
                                    {% if item.ubicacion %}                                        
                                        <p>Ubicaci칩n {{item.ubicacion}}</p>
                                    {% endif %}    
                                    <p>{{item.num_salones}} Salones</p>
                                    {% if item.numaseos %}
                                        <p>{{item.numaseos}} Aseos</p>
                                    {% endif %}
                                    <p>{{item.num_pgaraje}} Plaza garaje</p>
                                    <p>Pax {{item.pax}}</p>
                                    <p>{{item.amueblado}}</p>
                                    <p>{{item.estgen}}</p>
                                    <p class="comentarios">{{item.comentarios}}</p>
                                    <p class="precio">{{macro.moneda(item.precio)}}</p>
                                {% endautoescape%}
                    <ul class="compartir clearfix clearboth">
                            <li class="txt">Compartir</li>
                            <li><a rel="nueva_ventana me" href="http://www.facebook.com/share.php?u=http://www.cgcreditgranada.es{{urlAmigable}}" alt="" title=""><img src="{{app.path}}{{theme}}/images/soluciones/facebook_naranja.png" alt="" title="">&nbsp;</a></li>
                            <li><a rel="nueva_ventana me" href="https://twitter.com/share?url=http://www.cgcreditgranada.es{{urlAmigable}}" alt="" title=""><img src="{{app.path}}{{theme}}/images/soluciones/twitter_naranja.png" alt="" title="">&nbsp;</a></li>
                            <!--<li><a class="addthis_button_email" href="#" alt="" title="Email" target="_blank"><img src="{{app.path}}{{theme}}/images/soluciones/mail_naranja.png" alt="" title="">&nbsp;</a></li>-->
                    </ul>                                 
                                <div class="condicionesLegales">
                                    <a rel="prettyPhoto" href="{{app.path}}/condiciones-legales-inmobiliaria?iframe=true&width=570&height=630">Condiciones legales</a>
                                </div>
                            </div>
                        </div>

                        {% if values.relacionados %}
                            <div class="rowDeta">
                                <h3>Tal vez te pueda interesar...</h3>
                                {% for key,item in values.relacionados %}
                                    <div class="miniFicha">
                                        <div class="imagen">
                                            <img src="{{app.url}}/{{theme}}/{{item.rutagraf}}"/>
                                        </div>
                                        <div class="descripcion">
                                            <p>{{item.des_tipoelem}} - {{values.tiposOperacion[item.cod_destino]}}</p>
                                            <p>{% autoescape false %}{{item.des_poblacion}} - {{item.des_zona}} - {{item.des_provincia}}{% endautoescape %}</p>
                                            <p>{{item.m2constr}} M2 Construidos</p>
                                            <div class="precio">{{macro.moneda(item.precio)}}</div>
                                            <div class="masInfo"><a href="{{app.url}}{{item.UrlFriendly}}">M치s Info</a></div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                </div>              
            </div> 
        </div>
        {% include '_global/franjas.html.twig' %}              
    </div>	
{% endblock %}

