{# Ficha de detalle del inmueble #}
{% extends layout %}

{% block slider %}
    {% include '_global/bannerCabecera.html.twig' with {'imagen': values.contenido.getPathNameImagenN(1)} %}
{% endblock %}

{% block contenido %}
    {% set item = values.inmueble %}
    <div id="contenido">
        {% include '_global/ruta.html.twig' %}
        <div id="contenidoModuloBlanco" class="clearfix">
            <div class="contenido_interior row">    

                <div class="span12 columna_izquierda_por_que">
                    <h1 class="contenido_interior"><strong>Referencia {{item.cod_elemento}}, {{item.des_tipoelem}} - {{values.tiposOperacion[item.cod_destino]}} - {{item.des_poblacion}}</strong></h1>						
                    <div class="clearfix clearboth contenido_textos contenido_porque">
                        <div class="rowDeta">
                            <div class="deta-inmu-fotos">
                                <img id="imagenPrincipal" src="{{app.url}}/{{theme}}/{{item.rutagraf}}" width="380" height="286"/>
                                {% for foto in item.getFotos %}
                                    <a href="javascript:;" class="slideimagenes" onclick="$('#imagenPrincipal').attr('src', '{{app.url}}/{{theme}}/{{foto.url}}');">
                                        <img src="{{app.url}}/{{theme}}/{{foto.url}}" width="64"/>
                                    </a>
                                {% endfor %}  
                                <a href="javascript:;" class="slideimagenes" onclick="$('#imagenPrincipal').attr('src', '{{app.url}}/{{theme}}/{{item.rutagraf}}');">
                                    <img src="{{app.url}}/{{theme}}/{{item.rutagraf}}" width="64"/>
                                </a>                                
                            </div>
                            <div class="deta-inmu-textos">
                                {% autoescape false %}
                                    <p class="zonaInmueble">{{item.des_poblacion}} - {{item.des_zona}} - {{item.des_provincia}}</p>
                                    <p class="items">{{item.numhabitac}} Habitaciones, {{item.numbanios}} Baños</p>
                                    {% if item.m2constr > 0 %}
                                        <p class="items">{{item.m2constr}} M2 Construidos</p>
                                    {% endif %}
                                    <p class="estado">{{item.estgen}}</p>
                                    <p class="comentarios">{{item.comentarios}}</p>
                                {% endautoescape%}
                                {{macro.moneda(item.precio)}}
                            </div>
                        </div>

                        {% if values.relacionados %}
                            <div class="rowDeta">
                                <h3>Tal vez te pueda interesar...</h3>
                                {% for key,item in values.relacionados %}
                                    <div class="miniFicha">
                                        <div class="imagen">
                                            <img src="{{app.url}}/{{theme}}/{{item.rutagraf}}"/>
                                        </div>
                                        <div class="descripcion">
                                            <p>{{item.des_tipoelem}} - {{values.tiposOperacion[item.cod_destino]}}</p>
                                            <p>{{item.des_poblacion}} - {{item.des_zona}} - {{item.des_provincia}}</p>
                                            <p>{{item.m2constr}} M2 Construidos</p>
                                            <p>{{macro.moneda(item.precio)}}</p>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                </div>              
            </div> 
        </div>
        {% include '_global/franjas.html.twig' %}              
    </div>	
{% endblock %}

