{# CAJA LOCALIZACIÓN #}
<div class="span3 columna_derecha columna_derecha_por_que">
    <div class="caja_localizacion">
        <h2><strong>Localización</strong></h2>
        <address>
            {{values.datosContacto.direccion}}<br/>
            {{values.datosContacto.codigoPostal}} {{values.datosContacto.poblacion}} | {{values.datosContacto.provincia}}	
        </address>
        <p class="horario"><strong>Nuestro horario:</strong><br/>
            de lunes a Viernes<br/>de 10:00 a 14:00 - 17:00 a 20:30<br/>Sábados de 10:00 - 14:00</p>
        <a class="localiza_google" alt="Localización Credit Cash Granada" title="Localización Credit Cash Granada" rel="prettyPhoto" href="{{app.path}}/localizacion?iframe=true&width=800&height=600"><strong>Localízanos en google maps</strong></a>
        <div class="localiza_bottom clearfix">&nbsp;</div>
        <h3><strong>Atención al cliente</strong></h3>
        <p class="horario"><strong>Teléfono:</strong></p>
        <a class="link_tel telefono clearfix" href="tel: {{values.datosContacto.telefono1}}" alt="{{values.datosContacto.telefono1}}" title="{{values.datosContacto.telefono1}}">
            <strong>{{values.datosContacto.telefono1}}</strong>
        </a>
        <p class="fax">{{values.datosContacto.telefono2}}</p>

        <a class="skype" title="" alt="" href="skype:creditgranada?call" rel="nueva_ventana me">creditgranada</a>
        <a rel="prettyPhoto" href="{{app.path}}/te-llamamos?iframe=true&width=864&height=490" class="btn btn-llamamos" alt="Si lo prefieres te llamamos" title="">
            <strong>Si lo prefieres te llamamos</strong>
        </a>

    </div>
</div>
