{# CAJA LOCALIZACIÓN #}
<div class="span3 columna_derecha columna_derecha_por_que">
    <div class="caja_localizacion">
        <h2><strong>Localización</strong></h2>
        <address>
            {{values.datosContacto.direccion}}<br/>
            {{values.datosContacto.codigoPostal}} {{values.datosContacto.poblacion}} | {{values.datosContacto.provincia}}	
        </address>
        <p class="horario"><strong>Nuestro horario:</strong><br/>
            de lunes a Viernes de 9 a 18<br/></p>
        <a class="localiza_google" alt="Localización Fórmula Capital Granada" title="Localización Fórmula Capital Granada" rel="prettyPhoto" href="/localizacion-google-maps?iframe=true&width=800&height=600"><strong>Localízanos en google maps</strong></a>
        <div class="localiza_bottom clearfix">&nbsp;</div>
        <h3><strong>Atención al cliente</strong></h3>
        <p class="horario"><strong>Teléfono:</strong></p>
        <a class="link_tel telefono clearfix" href="tel: {{values.datosContacto.telefono1}}" alt="{{values.datosContacto.telefono1}}" title="{{values.datosContacto.telefono1}}">
            <strong>{{values.datosContacto.telefono1}}</strong>
        </a>
        <p class="fax">{{values.datosContacto.telefono2}}</p>

        <a class="skype" title="" alt="" href="skype:formulacapital2001?call" rel="nueva_ventana me">formulacapital2001</a>
        <a rel="prettyPhoto" href="/contacto-llamamos?iframe=true&width=864&height=490" class="btn btn-llamamos" alt="Si lo prefieres te llamamos" title="">
            <strong>Si lo prefieres te llamamos</strong>
        </a>

    </div>
</div>
