{# CAJA DE SERVICIOS #}
    <div class="lateral">
        <h2><strong>Particulares</strong></h2>	

        <ul>
            {% for item in values.servicios %}
            <li class="clearboth clearfix small">
                <a class="clearfix" alt="{{item.Titulo}}" title="{{item.Titulo}}" href="{{app.path}}{{item.Href.url}}">
                    <img width="64" src="{{app.url}}/{{theme}}/{{item.PathNameImagenN(1)}}" alt="{{item.Titulo}}" title="{{item.Titulo}}">
                    <h3><strong>{{item.Titulo}}<br /><span>{{item.Subtitulo}}</span></strong></h3>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>


