{# PIE #}
<footer id ="footerContenido">
    <div class="contenido_interior">
        <div class="row">
            <div class="span2">
                <h3 class="footer">Fórmula Capital</h3>
                <ul class="clearfix clearboth">
                    {% for item in values.menuPie %}
                    <li><a href="{{app.path}}{{item.url.url}}" alt="{{item.etiquetaWeb}}" title="{{item.etiquetaWeb}}">{{item.etiquetaWeb}}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="span2">
                <h3 class="footer">Soluciones FC</h3>
                <ul class="clearfix clearboth">
                    {% for item in values.serviciosPie %}
                        <li><a href="{{app.path}}{{item.Href.url}}" alt="{{item.Titulo}}" title="{{item.Titulo}}">{{item.Titulo}}</a></li>
                    {% endfor %}
                </ul>
            </div>

            <div class="span4">
                <h3 class="footer">Síguenos</h3>
                <ul class="siguenos clearfix clearboth">
                    <li style="display:none;"><a href="https://www.facebook.com/pages/F%C3%B3rmula-Capital/308208962534544" rel="nueva_ventana me" alt="facebook Credit Granada" title="facebook Credit Granada"><img src="{{app.url}}/{{theme}}/images/comunes/footer/facebook_footer.png" alt="facebook Credit Granada" title="facebook Credit Granada" /></a></li>
                    <li style=""><a href="https://twitter.com/formulacgranada" rel="nueva_ventana me" alt="twitter Credit Granada" title="twitter Credit Granada"><img src="{{app.url}}/{{theme}}/images/comunes/footer/twitter_footer.png" alt="" title="" />&nbsp;</a></li>
                    <li style="display:none;"><a href="" rel="nueva_ventana me" alt="youtube Credit Granada" title="youtube Credit Granada"><img src="{{app.url}}/{{theme}}/images/comunes/footer/youtube_footer.png" alt="youtube Credit Granada" title="youtube Credit Granada" /></a></li>
                    <li style=""><a href="https://plus.google.com/107766417362948532635/posts?hl=es" rel="nueva_ventana me" alt="googleplus Credit Granada" title="googleplus Credit Granada"><img src="{{app.url}}/{{theme}}/images/comunes/footer/gplus_footer.png" alt="googleplus Credit Granada" title="googleplus Credit Granada" /></a></li>
                    <li><a hreF="/rss" rel="nueva_ventana" alt="rss Credit Granada" title="rss Credit Granada"><img src="{{app.url}}/{{theme}}/images/comunes/footer/rss_footer.png" alt="rss Credit Granada" title="rss Credit Granada" /></a></li>
                </ul>
                <h3 class="footer">Nuestra Presentación</h3>
                <ul class="clearfix clearboth">
                    <li><a href="{{app.url}}/{{theme}}/pdf/presentacion_FC.pdf" rel="nueva_ventana" alt="Descargar PDF" title="Descargar PDF">Descargar PDF</a></li>
                </ul>
            </div>
            <div id="footer_der" class="span4">
                <img src="{{app.url}}/{{theme}}/images/comunes/footer/logo_footer.png" alt="{{values.datosContacto.telefono1}}" title="{{values.datosContacto.telefono1}}" />
                <p class="horario"><strong>Nuestro horario:</strong>
                    de lunes a Viernes <br/>de 10:00 a 14:00 y de 17:00 a 20:30<br/>Sábados de 10:00 - 14:00</p>
                <div class="contacto_llamar">
                    <a class="link_tel telefono clearfix" href="tel: {{values.datosContacto.telefono1}}" alt="{{values.datosContacto.telefono1}}" title="{{values.datosContacto.telefono1}}" onclick="javascript:_gaq.push(['_trackPageview', '/outbound/telefono']);">
                        <strong>{{values.datosContacto.telefono1}}</strong>
                    </a>
                    <a rel="prettyPhoto" href="{{app.path}}/te-llamamos?iframe=true&width=864&height=490" class="btn btn-llamamos btn-mini" alt="Si lo prefieres te llamamos" title="">
                        Si lo prefieres te llamamos	</a>
                </div>				
                <div class="skype_twitter clearfix clearboth">
                    <a rel="nueva_ventana me" href="skype:creditgranada?call" alt="skype Credit Cash Granada" title="skype Credit Cash Granada" class="pull-right" onclick="javascript:_gaq.push(['_trackPageview', '/outbound/skype']);">
                        <img class="logo_skype" src="{{app.url}}/{{theme}}/images/comunes/footer/skype_pie_small.png" title="skype Credit Cash Granada" alt="skype Credit Cash Granada" />
                        creditgranada
                    </a>
                </div>
            </div>
            <div id="otrosEnlaces" class="span12">
                <a href="{{app.path}}/minicredito-hasta-500€">Minicréditos online</a> | 
                <a href="{{app.path}}/prestamo-hipoteca-capital-privado">Préstamos con asnef</a> | 
                <a href="{{app.path}}/minicredito-hasta-500€">Mini créditos al instante</a> | 
                <a href="{{app.path}}/prestamo-hipoteca-capital-privado">Préstamos online</a> | 
                <a href="{{app.path}}/minicredito-hasta-500€">Mini créditos</a> | 
                <a href="{{app.path}}/minicredito-hasta-500€">Mini préstamos</a> | 
                <a href="{{app.path}}/minicredito-hasta-500€">Minicréditos</a>
            </div>
        </div>
        <div id="footer_bot" class="row">
            <a href="{{app.path}}/mapa-web" alt="Mapa Web" title="Mapa Web">Mapa Web</a> | 
            <a rel="prettyPhoto" href="{{app.path}}/aviso-legal?iframe=true&width=600&height=400" alt="" title="">Aviso legal</a> | 
            <a rel="prettyPhoto" href="{{app.path}}/politica-de-privacidad?iframe=true&width=600&height=400" alt="" title="">Política de privacidad</a> | 
            Reservados todos los derechos ® Credit Cash Granada.
        </div>
        <p class="enlacePDFfooter">Credit Granada es una entidad Privada de Financiación regulada conforme a los dispuestos en la Ley 2/2009 de 31 de marzo de 2009. Nº Registro 182/2011 de la Sección Segunda</p>
    </div>
</footer>